.hidden {
    display: none;
}



body {
    overflow:hidden;
    margin: 0; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-shadow: 2px 2px 2px gray; 
}

#quote{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#search{
    position: absolute;
    top: 15px; /* 상단에서 0px 떨어진 위치 */
    left: 20px;
}


#searchInput{
    width: 300px;
    outline: none;
    border: 0;
    border-radius: 15px;
   
    background-color: transparent;
    background-color: rgba(233, 233, 233, 70%);
    text-align: center;
    color: black;
}

#idInput{
    outline: none;
    border: 0;
    background-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    text-align: center;
}

#todoInput{
    width: 500px;
    height: 32px;
    border: 0;
    outline: none;
    border-radius: 15px;
   
    background-color: rgba(233, 233, 233, 70%);
    text-align: center;
    color: black;
}

li{
    margin-bottom: 10px;
    text-align: center;
    list-style-type: none;
}

button{
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    color: black;
    
}

img{
    width: 100%; /* 가로 너비를 뷰포트 너비로 설정 */
    height: 56.25vw; /* 16:9 비율을 나타내는 가로 너비의 56.25% */
    object-fit: cover; /* 이미지를 비율을 유지하면서 자르기 */
}

.contents{
   position: absolute;
   display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   margin-bottom: 30px;
}

#weather{
    position: absolute;
    top: 15px; /* 상단에서 0px 떨어진 위치 */
    right: 20px;
    
}

#clock{
    font-size: 80px;
}




#weather{
  margin-left: auto;
}




